{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Seznam koní</title>
    <link rel="stylesheet" href="{% static 'staj_sprava/styles.css' %}" />
  </head>
  <body class="horse_list_img">
    <h1 class="page-title">Seznam koní</h1>
    <table class="horse-table" border="1">
      <thead>
        <tr>
          <th>Jméno</th>
          <th>Plemeno</th>
          <th>Věk</th>
          <th>Zdravotní stav</th>
          <th>Poslední kontrola veterináře</th>
          <th>Poznámky</th>
          <th>Akce</th>
        </tr>
      </thead>
      <tbody>
        {% for horse in horses %}
        <tr>
          <td>{{ horse.name }}</td>
          <td>{{ horse.breed }}</td>
          <td>{{ horse.age }}</td>
          <td>{{ horse.health_status }}</td>
          <td>{{ horse.last_vet_check }}</td>
          <td>{{ horse.notes }}</td>
          <td>
            <a href="{% url 'horse_detail' horse.id %}">Zobrazit</a>
            <a
              href="{% url 'delete_horse' horse.id %}"
              onclick="return confirm('Opravdu chcete odebrat tohoto koně?');"
              >Odebrat</a
            >
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">Žádní koně nebyli nalezeni.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'add_horse' %}">Přidat nového koně</a>
    <br />
    <a href="{% url 'home' %}">Zpět na hlavní stránku</a>
    <!-- Předpokládáme, že 'home' je název URL pro hlavní stránku -->
  </body>
</html>
