@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Základní styly pro celou aplikaci */
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("https://www.nhkladruby.cz/data/filecache/e0/slide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #333;
  margin: 0;
  padding: 0;
}


/* Styly pro hlavičku */
header {
  /*background-color: #4CAF50;*/
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Hlavní obsah stránky */
main {


  padding: 20px;

  margin: 20px auto;
  max-width: 800px;

}

h2 {
  color: white;
  text-align: center;
  padding-top: 100px;
}

.popis {
  text-align: center;
  color: white;
  size: 50px;

}




/* Zápatí stránky */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
